# Default ignored files
/../../../../Projets_Université/M1/Angular-SpringBoot/.idea/shelf/
/../../../../Projets_Université/M1/Angular-SpringBoot/.idea/workspace.xml
# Ignored default folder with query files
/../../../../Projets_Université/M1/Angular-SpringBoot/.idea/queries/
# Datasource local storage ignored files
/../../../../Projets_Université/M1/Angular-SpringBoot/.idea/dataSources/
/../../../../Projets_Université/M1/Angular-SpringBoot/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../../Projets_Université/M1/Angular-SpringBoot/.idea/httpRequests/
